<div class="min-h-screen flex items-center justify-center">
  <div class="w-[400px] p-8 flex flex-col items-center bg-white rounded-2xl shadow-xs relative">
    <div class="flex flex-col items-center mb-1">
      <img src="assets/images/boost.png" width="64" class="mb-4" alt="" />
      <h1 class="text-2xl font-bold">Boost Manager</h1>
      <p class="text-xl font-normal text-gray-700 text-center mb-8">Recover password</p>
    </div>
    <form [formGroup]="recoveryForm" class="w-full min-w-full flex flex-col gap-4">
      <div>
        <label class="block text-base text-gray-700">
          <span class="text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']">Email</span>
          <input
            class="w-full mt-1 border border-gray-300 px-3 py-3 rounded-sm shadow-xs focus:outline-none focus:border-lime-500 focus:ring-1 focus:ring-lime-500"
            type="email"
            formControlName="email"
            placeholder="Your email"
            autocomplete="off"
            required
          />
        </label>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-sm text-red-500 mt-1">
          <div *ngIf="email?.hasError('required')">Email is required.</div>
          <div *ngIf="email?.hasError('email')">Invalid email format.</div>
          <div *ngIf="email?.hasError('minlength')">Email must be at least 5 characters long.</div>
        </div>
      </div>
      <div class="w-full flex flex-col">
        <p-button
          (onClick)="onSubmit()"
          label="RECOVER PASSWORD"
          [disabled]="recoveryForm.invalid"
          size="large"
          [style]="{ width: '100%', fontSize: '14px' }"
        />
        <p-divider align="center">
          <b class="font-normal text-sm text-gray-400">Or</b>
        </p-divider>
        <p class="text-base font-normal text-gray-700 text-center">
          Remembered the password?
          <a routerLink="/auth/login" class="font-bold text-lime-500 hover:text-lime-600">Sign In</a>
        </p>
      </div>
    </form>
  </div>
</div>
