<app-breadcrumb [items]="breadcrumb" />
<div class="bg-white rounded-xl shadow-sm p-8">
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center gap-3 mb-3">
      <div *ngIf="selectedGame as game">
        <img [src]="game.image" [alt]="game.name" class="w-18 h-18 rounded-xl object-cover shadow mr-2" />
      </div>
      <div>
        <h2 class="!text-3xl font-bold text-black">
          {{ editingId ? 'Edit Order' : 'New Order' }}
        </h2>
        <p class="text-gray-500">
          {{ editingId ? 'Editing an existing order.' : 'Here you can create a New Order.' }}
        </p>
      </div>
    </div>
  </div>

  <p-divider class="!mb-6" />

  <div class="w-full">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0"><i class="pi pi-trophy text-lime-500"></i> Rank Boost</p-tab>
        <p-tab value="1"><i class="pi pi-users text-blue-400"></i> Bot Lobbies</p-tab>
        <p-tab value="2"><i class="pi pi-star text-yellow-400"></i> Camo Service</p-tab>
        <p-tab value="3"><i class="pi pi-chart-line text-purple-500"></i> Power Leveling</p-tab>
        <p-tab value="4"><i class="pi pi-box text-orange-500"></i> Account Premade</p-tab>
        <p-tab value="5"><i class="pi pi-comment text-gray-500"></i> Custom Request</p-tab>
      </p-tablist>

      <p-tabpanels>
        <!-- RANK BOOST -->
        <p-tabpanel value="0" class="px-8">
          <form [formGroup]="rankBoostForm" (ngSubmit)="saveRankBoost()">
            <div class="border border-gray-200 rounded-xl p-8">
              <h3 class="font-semibold text-xl text-gray-800 flex items-center gap-2">Rank Boost Details</h3>
              <p>Fill your details below to create a Rank Boost order.</p>
              <p-divider class="!mb-10" />
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="flex flex-col gap-6">
                  <div>
                    <div class="flex items-center gap-2 mb-4">
                      <img
                        [src]="getRankObj(rankBoostForm.value.currentRank ?? '').image"
                        width="70"
                        alt=""
                        class="mb-4"
                      />
                      <div class="mb-4">
                        <h2 class="block mb-2 text-gray-700">Current Rank</h2>
                        <p class="text-3xl font-bold text-gray-600">
                          {{ getRankObj(rankBoostForm.value.currentRank ?? '').label }}
                        </p>
                      </div>
                    </div>
                    <label class="block mb-2 font-medium text-gray-700">
                      Current Rank <span class="text-red-500">*</span></label
                    >
                    <p-select
                      [options]="currentRankOptions"
                      formControlName="currentRank"
                      styleClass="w-full"
                      placeholder="Select a rank"
                    ></p-select>
                    <small
                      *ngIf="
                        rankBoostForm.get('total_value')?.errors?.['required'] &&
                        (rankBoostForm.get('total_value')?.dirty || rankBoostForm.get('total_value')?.touched)
                      "
                      class="text-red-500"
                    >
                      Value is required.
                    </small>
                  </div>
                  <div>
                    <label class="block mb-2 font-medium text-gray-700"
                      >Current SR <span class="text-red-500">*</span></label
                    >
                    <input
                      type="number"
                      pInputText
                      formControlName="currentSr"
                      min="0"
                      max="10000"
                      class="w-full"
                      placeholder="0"
                    />
                    <small
                      *ngIf="
                        rankBoostForm.get('currentSr')?.errors?.['required'] &&
                        (rankBoostForm.get('currentSr')?.dirty || rankBoostForm.get('currentSr')?.touched)
                      "
                      class="text-red-500"
                    >
                      Value is required.
                    </small>
                  </div>
                  <div>
                    <label class="block mb-2 font-medium text-gray-700">Game <span class="text-red-500">*</span></label>
                    <p-select
                      [options]="chooseGame"
                      formControlName="game"
                      styleClass="w-full"
                      placeholder="Select a game"
                    ></p-select>
                    <small
                      *ngIf="
                        rankBoostForm.get('game')?.errors?.['required'] &&
                        (rankBoostForm.get('game')?.dirty || rankBoostForm.get('game')?.touched)
                      "
                      class="text-red-500"
                    >
                      Value is required.
                    </small>
                  </div>
                </div>

                <div class="flex flex-col gap-6">
                  <div>
                    <div class="flex items-center gap-2 mb-4">
                      <img
                        [src]="getRankObj(rankBoostForm.value.desiredRank ?? '').image"
                        width="70"
                        alt=""
                        class="mb-4"
                      />
                      <div class="mb-4">
                        <h2 class="block mb-2 text-gray-700">Desired Rank</h2>
                        <p class="text-3xl font-bold text-gray-600">
                          {{ getRankObj(rankBoostForm.value.desiredRank ?? '').label }}
                        </p>
                      </div>
                    </div>
                    <label class="block mb-2 font-medium text-gray-700">
                      Desired Rank <span class="text-red-500">*</span></label
                    >
                    <p-select
                      [options]="desiredRankOptions"
                      formControlName="desiredRank"
                      styleClass="w-full"
                      placeholder="Select a rank"
                    ></p-select>
                    <small
                      *ngIf="
                        rankBoostForm.get('desiredRank')?.errors?.['required'] &&
                        (rankBoostForm.get('desiredRank')?.dirty || rankBoostForm.get('desiredRank')?.touched)
                      "
                      class="text-red-500"
                    >
                      Value is required.
                    </small>
                  </div>
                  <div>
                    <label class="block mb-2 font-medium text-gray-700"
                      >Desired SR <span class="text-red-500">*</span></label
                    >
                    <input
                      type="number"
                      pInputText
                      formControlName="desiredSr"
                      min="0"
                      max="10000"
                      class="w-full"
                      placeholder="0"
                    />
                    <small
                      *ngIf="
                        rankBoostForm.get('desiredSr')?.errors?.['required'] &&
                        (rankBoostForm.get('desiredSr')?.dirty || rankBoostForm.get('desiredSr')?.touched)
                      "
                      class="text-red-500"
                    >
                      Value is required.
                    </small>
                  </div>
                  <div>
                    <label class="block mb-2 font-medium text-gray-700"
                      >Platform <span class="text-red-500">*</span></label
                    >
                    <p-select
                      [options]="choosePlatform"
                      formControlName="platform"
                      styleClass="w-full"
                      placeholder="Select a platform"
                    ></p-select>
                    <small
                      *ngIf="
                        rankBoostForm.get('platform')?.errors?.['required'] &&
                        (rankBoostForm.get('platform')?.dirty || rankBoostForm.get('platform')?.touched)
                      "
                      class="text-red-500"
                    >
                      Value is required.
                    </small>
                  </div>
                </div>
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="total-value">
                    Total Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="total_value"
                    inputId="total-value"
                    placeholder="$ 0.00"
                    [mode]="'currency'"
                    [currency]="'USD'"
                    [locale]="'en-US'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      rankBoostForm.get('total_value')?.errors?.['required'] &&
                      (rankBoostForm.get('total_value')?.dirty || rankBoostForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      rankBoostForm.get('total_value')?.errors?.['min'] &&
                      (rankBoostForm.get('total_value')?.dirty || rankBoostForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      rankBoostForm.get('total_value')?.errors?.['max'] &&
                      (rankBoostForm.get('total_value')?.dirty || rankBoostForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
                <!-- Booster Value -->
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="booster-value">
                    Booster Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="booster_value"
                    inputId="booster-value"
                    placeholder="R$ 0,00"
                    [mode]="'currency'"
                    [currency]="'BRL'"
                    [locale]="'pt-BR'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      rankBoostForm.get('booster_value')?.errors?.['required'] &&
                      (rankBoostForm.get('booster_value')?.dirty || rankBoostForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      rankBoostForm.get('booster_value')?.errors?.['min'] &&
                      (rankBoostForm.get('booster_value')?.dirty || rankBoostForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      rankBoostForm.get('booster_value')?.errors?.['max'] &&
                      (rankBoostForm.get('booster_value')?.dirty || rankBoostForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
              </div>
              <div class="mt-6">
                <label class="block mb-2 font-medium text-gray-700">Additional Info</label>
                <textarea
                  pTextarea
                  formControlName="notes"
                  rows="3"
                  class="w-full"
                  placeholder="Anything important..."
                ></textarea>
              </div>

              <p-divider class="!my-6" />

              <div class="flex justify-center md:justify-end gap-4 mt-2">
                <p-button label="Cancel" variant="outlined" severity="secondary" (click)="cancelRankBoost()" />
                <p-button
                  label="Save Order"
                  icon="pi pi-check"
                  [disabled]="rankBoostForm.invalid"
                  (click)="saveRankBoost()"
                />
              </div>
            </div>
          </form>
        </p-tabpanel>

        <!-- BOT LOBBIES -->
        <p-tabpanel value="1">
          <form [formGroup]="botLobbyForm" (ngSubmit)="saveBotLobby()">
            <div class="border border-gray-200 rounded-xl p-8">
              <h3 class="font-semibold text-xl text-gray-800 flex items-center gap-2">Bot Lobby Details</h3>
              <p class="mb-6">Fill your details below to create a Bot Lobby order.</p>
              <p-divider class="!mb-10" />
              <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Number of bot lobbies <span class="text-red-500">*</span></label
                  >
                  <input type="number" pInputText formControlName="botLobbies" min="1" class="w-full" placeholder="1" />
                  <small
                    *ngIf="
                      botLobbyForm.get('botLobbies')?.errors?.['required'] &&
                      (botLobbyForm.get('botLobbies')?.dirty || botLobbyForm.get('botLobbies')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Supplier <span class="text-red-500">*</span></label
                  >
                  <p-select
                    [options]="suppliers"
                    formControlName="supplier"
                    styleClass="w-full"
                    placeholder="Select..."
                  ></p-select>
                  <small
                    *ngIf="
                      botLobbyForm.get('supplier')?.errors?.['required'] &&
                      (botLobbyForm.get('supplier')?.dirty || botLobbyForm.get('supplier')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Supplier order <span class="text-red-500">*</span></label
                  >
                  <input
                    pInputText
                    formControlName="supplierOrder"
                    class="w-full"
                    placeholder="Supplier order number..."
                  />
                </div>
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="total-value">
                    Total Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="total_value"
                    inputId="total-value"
                    placeholder="$ 0.00"
                    [mode]="'currency'"
                    [currency]="'USD'"
                    [locale]="'en-US'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      botLobbyForm.get('total_value')?.errors?.['required'] &&
                      (botLobbyForm.get('total_value')?.dirty || botLobbyForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      botLobbyForm.get('total_value')?.errors?.['min'] &&
                      (botLobbyForm.get('total_value')?.dirty || botLobbyForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      botLobbyForm.get('total_value')?.errors?.['max'] &&
                      (botLobbyForm.get('total_value')?.dirty || botLobbyForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
                <!-- Booster Value -->
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="booster-value">
                    Booster Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="booster_value"
                    inputId="booster-value"
                    placeholder="R$ 0,00"
                    [mode]="'currency'"
                    [currency]="'BRL'"
                    [locale]="'pt-BR'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      botLobbyForm.get('booster_value')?.errors?.['required'] &&
                      (botLobbyForm.get('booster_value')?.dirty || botLobbyForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      botLobbyForm.get('booster_value')?.errors?.['min'] &&
                      (botLobbyForm.get('booster_value')?.dirty || botLobbyForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      botLobbyForm.get('booster_value')?.errors?.['max'] &&
                      (botLobbyForm.get('booster_value')?.dirty || botLobbyForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
              </div>
              <div class="mt-6">
                <label class="block mb-2 font-medium text-gray-700">Additional Info</label>
                <textarea
                  pTextarea
                  formControlName="notes"
                  rows="3"
                  class="w-full"
                  placeholder="Anything important..."
                ></textarea>
              </div>

              <p-divider class="!my-6" />

              <div class="flex justify-center md:justify-end gap-4 mt-2">
                <p-button label="Cancel" variant="outlined" severity="secondary" (click)="cancelBotLobby()" />
                <p-button
                  label="Save Order"
                  icon="pi pi-check"
                  [disabled]="botLobbyForm.invalid"
                  (click)="saveBotLobby()"
                />
              </div>
            </div>
          </form>
        </p-tabpanel>

        <!-- CAMO SERVICE -->
        <p-tabpanel value="2">
          <form [formGroup]="camoServiceForm" (ngSubmit)="saveCamoService()">
            <div class="border border-gray-200 rounded-xl p-8">
              <h3 class="font-semibold text-lg text-gray-800 flex items-center gap-2">Camo Service Details</h3>
              <p class="mb-6">Fill your details below to create a Camo Service order.</p>
              <p-divider class="!mb-10" />
              <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Desired camo <span class="text-red-500">*</span></label
                  >
                  <p-select
                    [options]="camos"
                    formControlName="desiredCamo"
                    styleClass="w-full"
                    placeholder="Select..."
                  ></p-select>
                  <small
                    *ngIf="
                      camoServiceForm.get('desiredCamo')?.errors?.['required'] &&
                      (camoServiceForm.get('desiredCamo')?.dirty || camoServiceForm.get('desiredCamo')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700">Game <span class="text-red-500">*</span></label>
                  <p-select
                    [options]="chooseGame"
                    formControlName="game"
                    styleClass="w-full"
                    placeholder="Select a game"
                  ></p-select>
                  <small
                    *ngIf="
                      camoServiceForm.get('game')?.errors?.['required'] &&
                      (camoServiceForm.get('game')?.dirty || camoServiceForm.get('game')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Platform <span class="text-red-500">*</span></label
                  >
                  <p-select
                    [options]="platforms"
                    formControlName="platform"
                    styleClass="w-full"
                    placeholder="Select a platform"
                  ></p-select>
                  <small
                    *ngIf="
                      camoServiceForm.get('platform')?.errors?.['required'] &&
                      (camoServiceForm.get('platform')?.dirty || camoServiceForm.get('platform')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="total-value">
                    Total Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="total_value"
                    inputId="total-value"
                    placeholder="$ 0.00"
                    [mode]="'currency'"
                    [currency]="'USD'"
                    [locale]="'en-US'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      camoServiceForm.get('total_value')?.errors?.['required'] &&
                      (camoServiceForm.get('total_value')?.dirty || camoServiceForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      camoServiceForm.get('total_value')?.errors?.['min'] &&
                      (camoServiceForm.get('total_value')?.dirty || camoServiceForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      camoServiceForm.get('total_value')?.errors?.['max'] &&
                      (camoServiceForm.get('total_value')?.dirty || camoServiceForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
                <!-- Booster Value -->
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="booster-value">
                    Booster Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="booster_value"
                    inputId="booster-value"
                    placeholder="R$ 0,00"
                    [mode]="'currency'"
                    [currency]="'BRL'"
                    [locale]="'pt-BR'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      camoServiceForm.get('booster_value')?.errors?.['required'] &&
                      (camoServiceForm.get('booster_value')?.dirty || camoServiceForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      camoServiceForm.get('booster_value')?.errors?.['min'] &&
                      (camoServiceForm.get('booster_value')?.dirty || camoServiceForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      camoServiceForm.get('booster_value')?.errors?.['max'] &&
                      (camoServiceForm.get('booster_value')?.dirty || camoServiceForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
              </div>
              <div class="mt-6">
                <label class="block mb-2 font-medium text-gray-700">Additional Info</label>
                <textarea
                  pTextarea
                  formControlName="notes"
                  rows="3"
                  class="w-full"
                  placeholder="Anything important..."
                ></textarea>
              </div>

              <p-divider class="!my-6" />

              <div class="flex justify-center md:justify-end gap-4 mt-2">
                <p-button label="Cancel" variant="outlined" severity="secondary" (click)="cancelCamoService()" />
                <p-button
                  label="Save Order"
                  icon="pi pi-check"
                  [disabled]="camoServiceForm.invalid"
                  (click)="saveCamoService()"
                />
              </div>
            </div>
          </form>
        </p-tabpanel>

        <!-- POWER LEVELING -->
        <p-tabpanel value="3">
          <form [formGroup]="powerLevelingForm" (ngSubmit)="savePowerLeveling()">
            <div class="border border-gray-200 rounded-xl p-8">
              <h3 class="font-semibold text-lg text-gray-800 flex items-center gap-2">Power Leveling Details</h3>
              <p class="mb-6">Fill your details below to create a Power Leveling order.</p>
              <p-divider class="!mb-10" />
              <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Current level <span class="text-red-500">*</span></label
                  >
                  <input
                    type="number"
                    pInputText
                    formControlName="currentLevel"
                    min="1"
                    class="w-full"
                    placeholder="1"
                  />
                  <small
                    *ngIf="
                      powerLevelingForm.get('currentLevel')?.errors?.['required'] &&
                      (powerLevelingForm.get('currentLevel')?.dirty || powerLevelingForm.get('currentLevel')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Desired level <span class="text-red-500">*</span></label
                  >
                  <input
                    type="number"
                    pInputText
                    formControlName="desiredLevel"
                    min="1"
                    class="w-full"
                    placeholder="55"
                  />
                  <small
                    *ngIf="
                      powerLevelingForm.get('desiredLevel')?.errors?.['required'] &&
                      (powerLevelingForm.get('desiredLevel')?.dirty || powerLevelingForm.get('desiredLevel')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700">Game <span class="text-red-500">*</span></label>
                  <p-select
                    [options]="chooseGame"
                    formControlName="game"
                    styleClass="w-full"
                    placeholder="Select a game"
                  ></p-select>
                  <small
                    *ngIf="
                      powerLevelingForm.get('game')?.errors?.['required'] &&
                      (powerLevelingForm.get('game')?.dirty || powerLevelingForm.get('game')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Platform <span class="text-red-500">*</span></label
                  >
                  <p-select
                    [options]="platforms"
                    formControlName="platform"
                    styleClass="w-full"
                    placeholder="Select a platform"
                  ></p-select>
                  <small
                    *ngIf="
                      powerLevelingForm.get('platform')?.errors?.['required'] &&
                      (powerLevelingForm.get('platform')?.dirty || powerLevelingForm.get('platform')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="total-value">
                    Total Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="total_value"
                    inputId="total-value"
                    placeholder="$ 0.00"
                    [mode]="'currency'"
                    [currency]="'USD'"
                    [locale]="'en-US'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      powerLevelingForm.get('total_value')?.errors?.['required'] &&
                      (powerLevelingForm.get('total_value')?.dirty || powerLevelingForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      powerLevelingForm.get('total_value')?.errors?.['min'] &&
                      (powerLevelingForm.get('total_value')?.dirty || powerLevelingForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      powerLevelingForm.get('total_value')?.errors?.['max'] &&
                      (powerLevelingForm.get('total_value')?.dirty || powerLevelingForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
                <!-- Booster Value -->
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="booster-value">
                    Booster Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="booster_value"
                    inputId="booster-value"
                    placeholder="R$ 0,00"
                    [mode]="'currency'"
                    [currency]="'BRL'"
                    [locale]="'pt-BR'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      powerLevelingForm.get('booster_value')?.errors?.['required'] &&
                      (powerLevelingForm.get('booster_value')?.dirty || powerLevelingForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      powerLevelingForm.get('booster_value')?.errors?.['min'] &&
                      (powerLevelingForm.get('booster_value')?.dirty || powerLevelingForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      powerLevelingForm.get('booster_value')?.errors?.['max'] &&
                      (powerLevelingForm.get('booster_value')?.dirty || powerLevelingForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
              </div>
              <div class="mt-6">
                <label class="block mb-2 font-medium text-gray-700">Additional Info</label>
                <textarea
                  pTextarea
                  formControlName="notes"
                  rows="3"
                  class="w-full"
                  placeholder="Anything important..."
                ></textarea>
              </div>

              <p-divider class="!my-6" />

              <div class="flex justify-center md:justify-end gap-4 mt-2">
                <p-button label="Cancel" variant="outlined" severity="secondary" (click)="cancelPowerLeveling()" />
                <p-button
                  label="Save Order"
                  icon="pi pi-check"
                  [disabled]="powerLevelingForm.invalid"
                  (click)="savePowerLeveling()"
                />
              </div>
            </div>
          </form>
        </p-tabpanel>

        <!-- ACCOUNT PREMADE -->
        <p-tabpanel value="4">
          <form [formGroup]="accountPremadeForm" (ngSubmit)="saveAccountPremade()">
            <div class="border border-gray-200 rounded-xl p-8">
              <h3 class="font-semibold text-lg text-gray-800 flex items-center gap-2">Account Premade Details</h3>
              <p class="mb-6">Fill your details below to create an Account Premade order.</p>
              <p-divider class="!mb-10" />
              <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Account Email <span class="text-red-500">*</span></label
                  >
                  <input
                    type="email"
                    pInputText
                    formControlName="accountEmail"
                    class="w-full"
                    placeholder="Enter account email"
                  />
                  <small
                    *ngIf="
                      accountPremadeForm.get('accountEmail')?.errors?.['required'] &&
                      (accountPremadeForm.get('accountEmail')?.dirty || accountPremadeForm.get('accountEmail')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Account Password <span class="text-red-500">*</span></label
                  >
                  <input
                    type="password"
                    pInputText
                    formControlName="accountPassword"
                    class="w-full"
                    placeholder="Enter account password"
                  />
                  <small
                    *ngIf="
                      accountPremadeForm.get('accountPassword')?.errors?.['required'] &&
                      (accountPremadeForm.get('accountPassword')?.dirty ||
                        accountPremadeForm.get('accountPassword')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="block mb-2 font-medium text-gray-700"
                    >Choose Camo <span class="text-red-500">*</span></label
                  >
                  <p-select
                    [options]="camos"
                    formControlName="availableCamo"
                    styleClass="w-full"
                    placeholder="Select a camo"
                  ></p-select>
                  <small
                    *ngIf="
                      accountPremadeForm.get('availableCamo')?.errors?.['required'] &&
                      (accountPremadeForm.get('availableCamo')?.dirty ||
                        accountPremadeForm.get('availableCamo')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                </div>
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="total-value">
                    Total Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="total_value"
                    inputId="total-value"
                    placeholder="$ 0.00"
                    [mode]="'currency'"
                    [currency]="'USD'"
                    [locale]="'en-US'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      accountPremadeForm.get('total_value')?.errors?.['required'] &&
                      (accountPremadeForm.get('total_value')?.dirty || accountPremadeForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      accountPremadeForm.get('total_value')?.errors?.['min'] &&
                      (accountPremadeForm.get('total_value')?.dirty || accountPremadeForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      accountPremadeForm.get('total_value')?.errors?.['max'] &&
                      (accountPremadeForm.get('total_value')?.dirty || accountPremadeForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
                <!-- Booster Value -->
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="booster-value">
                    Booster Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="booster_value"
                    inputId="booster-value"
                    placeholder="R$ 0,00"
                    [mode]="'currency'"
                    [currency]="'BRL'"
                    [locale]="'pt-BR'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      accountPremadeForm.get('booster_value')?.errors?.['required'] &&
                      (accountPremadeForm.get('booster_value')?.dirty ||
                        accountPremadeForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      accountPremadeForm.get('booster_value')?.errors?.['min'] &&
                      (accountPremadeForm.get('booster_value')?.dirty ||
                        accountPremadeForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      accountPremadeForm.get('booster_value')?.errors?.['max'] &&
                      (accountPremadeForm.get('booster_value')?.dirty ||
                        accountPremadeForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
              </div>
              <div class="mt-6">
                <label class="block mb-2 font-medium text-gray-700">Additional Info</label>
                <textarea
                  pTextarea
                  formControlName="notes"
                  rows="3"
                  class="w-full"
                  placeholder="Anything important..."
                ></textarea>
              </div>

              <p-divider class="!my-6" />

              <div class="flex justify-center md:justify-end gap-4 mt-2">
                <p-button label="Cancel" variant="outlined" severity="secondary" (click)="cancelAccountPremade()" />
                <p-button
                  label="Save Order"
                  icon="pi pi-check"
                  [disabled]="accountPremadeForm.invalid"
                  (click)="saveAccountPremade()"
                />
              </div>
            </div>
          </form>
        </p-tabpanel>

        <!-- CUSTOM REQUEST -->
        <p-tabpanel value="5">
          <form [formGroup]="customRequestForm" (ngSubmit)="saveCustomRequest()">
            <div class="border border-gray-200 rounded-xl p-8">
              <h3 class="font-semibold text-lg text-gray-800 flex items-center gap-2">Custom Request</h3>
              <p class="mb-6">Fill your details below about the Custom Request order.</p>
              <p-divider class="!mb-10" />
              <div>
                <label class="block font-medium mb-2 text-gray-700">Details <span class="text-red-500">*</span></label>
                <textarea
                  pTextarea
                  formControlName="notes"
                  rows="6"
                  class="w-full"
                  placeholder="Describe your custom request..."
                ></textarea>
                <small
                  *ngIf="
                    customRequestForm.get('notes')?.errors?.['required'] &&
                    (customRequestForm.get('notes')?.dirty || customRequestForm.get('notes')?.touched)
                  "
                  class="text-red-500"
                >
                  Value is required.
                </small>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-2">
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="total-value">
                    Total Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="total_value"
                    inputId="total-value"
                    placeholder="$ 0.00"
                    [mode]="'currency'"
                    [currency]="'USD'"
                    [locale]="'en-US'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      customRequestForm.get('total_value')?.errors?.['required'] &&
                      (customRequestForm.get('total_value')?.dirty || customRequestForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      customRequestForm.get('total_value')?.errors?.['min'] &&
                      (customRequestForm.get('total_value')?.dirty || customRequestForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      customRequestForm.get('total_value')?.errors?.['max'] &&
                      (customRequestForm.get('total_value')?.dirty || customRequestForm.get('total_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
                <!-- Booster Value -->
                <div>
                  <label class="font-medium text-gray-700 mb-2 block" for="booster-value">
                    Booster Value <span class="text-red-500">*</span>
                  </label>
                  <p-inputnumber
                    styleClass="w-full"
                    formControlName="booster_value"
                    inputId="booster-value"
                    placeholder="R$ 0,00"
                    [mode]="'currency'"
                    [currency]="'BRL'"
                    [locale]="'pt-BR'"
                    [min]="0"
                  />
                  <small
                    *ngIf="
                      customRequestForm.get('booster_value')?.errors?.['required'] &&
                      (customRequestForm.get('booster_value')?.dirty || customRequestForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value is required.
                  </small>
                  <small
                    *ngIf="
                      customRequestForm.get('booster_value')?.errors?.['min'] &&
                      (customRequestForm.get('booster_value')?.dirty || customRequestForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be greater than or equal to 0.
                  </small>
                  <small
                    *ngIf="
                      customRequestForm.get('booster_value')?.errors?.['max'] &&
                      (customRequestForm.get('booster_value')?.dirty || customRequestForm.get('booster_value')?.touched)
                    "
                    class="text-red-500"
                  >
                    Value must be less than or equal to 999999.99.
                  </small>
                </div>
              </div>

              <p-divider class="!my-6" />

              <div class="flex justify-center md:justify-end gap-4 mt-2">
                <p-button label="Cancel" variant="outlined" severity="secondary" (click)="cancelCustomRequest()" />
                <p-button
                  label="Save Order"
                  icon="pi pi-check"
                  [disabled]="customRequestForm.invalid"
                  (click)="saveCustomRequest()"
                />
              </div>
            </div>
          </form>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
