<app-breadcrumb [items]="breadcrumb" />
<div class="bg-white rounded-xl shadow-sm p-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h2 class="!text-3xl font-bold text-black">
        {{ editingId ? 'Edit Order' : 'New Order' }}
        <span *ngIf="editingId && orderForm.value.order_number" class="text-gray-400 ml-2"
          >#{{ orderForm.value.order_number }}</span
        >
      </h2>
      <p class="text-gray-500">
        {{ editingId ? 'Editing an existing order.' : 'Here you can create a New Order.' }}
      </p>
    </div>
  </div>

  <p-divider />

  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
    <!-- Row 2: account data -->
    <div>
      <h3 class="text-lg font-semibold text-gray-800 mb-2">Account Data</h3>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="flex flex-col">
          <label class="font-medium text-gray-700 mb-2 block">
            Account Email <span class="text-red-500">*</span>
          </label>
          <input
            styleClass="w-full"
            pInputText
            formControlName="account_email"
            placeholder="Enter your email"
            type="email"
          />
          <small
            *ngIf="
              orderForm.get('account_email')?.errors?.['required'] &&
              (orderForm.get('account_email')?.dirty || orderForm.get('account_email')?.touched)
            "
            class="text-red-500"
          >
            Email is required.
          </small>
          <small
            *ngIf="
              orderForm.get('account_email')?.errors?.['email'] &&
              (orderForm.get('account_email')?.dirty || orderForm.get('account_email')?.touched)
            "
            class="text-red-500"
          >
            Invalid email.
          </small>
        </div>
        <div class="flex flex-col">
          <label class="font-medium text-gray-700 mb-2 block">
            Account Password <span class="text-red-500">*</span>
          </label>
          <input
            styleClass="w-full"
            pInputText
            formControlName="account_password"
            placeholder="Enter your password"
            type="text"
          />
          <small
            *ngIf="
              orderForm.get('account_password')?.errors?.['required'] &&
              (orderForm.get('account_password')?.dirty || orderForm.get('account_password')?.touched)
            "
            class="text-red-500"
          >
            Password is required.
          </small>
        </div>
        <div class="flex flex-col">
          <label class="font-medium text-gray-700 mb-2 block"> Backup Codes </label>
          <input
            styleClass="w-full"
            pInputText
            formControlName="recovery_code"
            placeholder="Enter the backup code"
            type="text"
          />
        </div>
        <div class="flex flex-col">
          <label class="font-medium text-gray-700 mb-2 block"> Recovery Email </label>
          <input
            styleClass="w-full"
            pInputText
            formControlName="recovery_email"
            placeholder="Enter the recovery email"
            type="text"
          />
          <small
            *ngIf="
              orderForm.get('recovery_email')?.errors?.['required'] &&
              (orderForm.get('recovery_email')?.dirty || orderForm.get('recovery_email')?.touched)
            "
            class="text-red-500"
          >
            Recovery email is required.
          </small>
        </div>
        <div class="flex flex-col">
          <label class="font-medium text-gray-700 mb-2 block"> Platform <span class="text-red-500">*</span> </label>
          <p-select
            styleClass="w-full"
            [options]="platforms"
            formControlName="platform"
            placeholder="Select a platform"
          ></p-select>
          <small
            *ngIf="
              orderForm.get('platform')?.invalid &&
              (orderForm.get('platform')?.dirty || orderForm.get('platform')?.touched)
            "
            class="text-red-500"
          >
            Please select a platform.
          </small>
        </div>
      </div>
    </div>

    <!-- Row 1: selects -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <div>
        <label class="font-medium text-gray-700 mb-2 block"> Booster <span class="text-red-500">*</span> </label>
        <p-select
          styleClass="w-full"
          [options]="boosters"
          formControlName="booster"
          placeholder="Select a booster"
        ></p-select>
        <small
          *ngIf="
            orderForm.get('booster')?.invalid && (orderForm.get('booster')?.dirty || orderForm.get('booster')?.touched)
          "
          class="text-red-500"
        >
          Please select a booster.
        </small>
      </div>
      <div>
        <label class="font-medium text-gray-700 mb-2 block"> Supplier <span class="text-red-500">*</span> </label>
        <p-select
          styleClass="w-full"
          [options]="suppliers"
          formControlName="supplier"
          placeholder="Select a supplier"
        ></p-select>
        <small
          *ngIf="
            orderForm.get('supplier')?.invalid &&
            (orderForm.get('supplier')?.dirty || orderForm.get('supplier')?.touched)
          "
          class="text-red-500"
        >
          Please select a supplier.
        </small>
      </div>
      <div>
        <label class="font-medium text-gray-700 mb-2 block"> Service Type <span class="text-red-500">*</span> </label>
        <p-select
          styleClass="w-full"
          [options]="serviceTypes"
          formControlName="service_type"
          placeholder="Select a service type"
        ></p-select>
        <small
          *ngIf="
            orderForm.get('service_type')?.invalid &&
            (orderForm.get('service_type')?.dirty || orderForm.get('service_type')?.touched)
          "
          class="text-red-500"
        >
          Please select a service type.
        </small>
      </div>
      <div>
        <div
          *ngIf="
            typeof (orderForm.get('service_type')?.value ?? '') === 'string' &&
            (orderForm.get('service_type')?.value ?? '').toLowerCase().includes('camuflagem')
          "
        >
          <label class="font-medium text-gray-700 mb-2 block"> Weapon Quantity </label>
          <p-inputnumber
            formControlName="weapon_quantity"
            [max]="58"
            [showButtons]="true"
            styleClass="w-full"
            placeholder="Ex: 1"
          ></p-inputnumber>
          <small
            *ngIf="
              orderForm.get('weapon_quantity')?.errors?.['max'] &&
              (orderForm.get('weapon_quantity')?.dirty || orderForm.get('weapon_quantity')?.touched)
            "
            class="text-red-500"
          >
            Maximum 58 weapons.
          </small>
        </div>
      </div>
    </div>

    <!-- Row 3: dates -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <label class="font-medium text-gray-700 mb-2 block"> Start Date <span class="text-red-500">*</span> </label>
        <p-datepicker
          styleClass="w-full"
          formControlName="start_date"
          dateFormat="dd/mm/yy"
          placeholder="Select start date"
          [showIcon]="true"
          [showButtonBar]="true"
          [selectOtherMonths]="true"
          [minDate]="hoje"
        ></p-datepicker>
        <small
          *ngIf="
            orderForm.get('start_date')?.errors?.['required'] &&
            (orderForm.get('start_date')?.dirty || orderForm.get('start_date')?.touched)
          "
          class="text-red-500"
        >
          Start date is required.
        </small>
        <small
          *ngIf="
            orderForm.get('start_date')?.errors?.['minDate'] &&
            (orderForm.get('start_date')?.dirty || orderForm.get('start_date')?.touched)
          "
          class="text-red-500"
        >
          Start date must be greater than or equal to today.
        </small>
        <small
          *ngIf="
            orderForm.get('start_date')?.errors?.['maxDate'] &&
            (orderForm.get('start_date')?.dirty || orderForm.get('start_date')?.touched)
          "
          class="text-red-500"
        >
          Start date cannot be after end date.
        </small>
      </div>
      <div>
        <label class="font-medium text-gray-700 mb-2 block"> End Date </label>
        <p-datepicker
          styleClass="w-full"
          formControlName="end_date"
          dateFormat="dd/mm/yy"
          placeholder="Select end date"
          [showIcon]="true"
          [showButtonBar]="true"
          [selectOtherMonths]="true"
          [minDate]="hoje"
        ></p-datepicker>
        <small
          *ngIf="
            orderForm.get('end_date')?.errors?.['minDate'] &&
            (orderForm.get('end_date')?.dirty || orderForm.get('end_date')?.touched)
          "
          class="text-red-500"
        >
          End date must be greater than or equal to start date.
        </small>
      </div>
      <div>
        <label class="font-medium text-gray-700 mb-2 block"> Status <span class="text-red-500">*</span> </label>
        <p-select
          styleClass="w-full"
          [options]="statusList"
          formControlName="status"
          placeholder="Select a status"
        ></p-select>
        <small
          *ngIf="
            orderForm.get('status')?.invalid && (orderForm.get('status')?.dirty || orderForm.get('status')?.touched)
          "
          class="text-red-500"
        >
          Please select a status.
        </small>
      </div>
    </div>

    <!-- Row 5: values -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <label class="font-medium text-gray-700 mb-2 block" for="currency"
          >Currency <span class="text-red-500">*</span></label
        >
        <p-select
          styleClass="w-full"
          [options]="currencies"
          formControlName="currency"
          placeholder="Select currency"
          (onChange)="onCurrencyChange()"
        >
          <ng-template let-option pTemplate="item">
            <div class="flex items-center gap-2">
              <i *ngIf="option.icon" [class]="option.icon + ' text-lg mr-2 text-lime-600'"></i>
              <span>{{ option.label }}</span>
            </div>
          </ng-template>
        </p-select>
      </div>
      <div>
        <label class="font-medium text-gray-700 mb-2 block" for="total-value">
          Total Value <span class="text-red-500">*</span>
        </label>
        <p-inputnumber
          styleClass="w-full"
          formControlName="total_value"
          inputId="total-value"
          [mode]="'currency'"
          [currency]="orderForm.value.currency || 'USD'"
          [locale]="getLocale(orderForm.value.currency || 'USD')"
          [min]="0"
        />
        <div *ngIf="orderForm.value.total_value && ratesLoaded">
          <div *ngFor="let c of getConvertedValues()" class="text-xs mt-1 text-gray-500">
            ≈ {{ c.value }} ({{ c.label }})
          </div>
        </div>

        <small
          *ngIf="total_value.errors?.['required'] && (total_value.dirty || total_value.touched)"
          class="text-red-500"
        >
          Value is required.
        </small>
        <small *ngIf="total_value.errors?.['min'] && (total_value.dirty || total_value.touched)" class="text-red-500">
          Value must be greater than or equal to 0.
        </small>
        <small *ngIf="total_value.errors?.['max'] && (total_value.dirty || total_value.touched)" class="text-red-500">
          Value must be less than or equal to 999999.99.
        </small>
      </div>
      <!-- Booster Value -->
      <div>
        <label class="font-medium text-gray-700 mb-2 block" for="booster-value">
          Booster Value <span class="text-red-500">*</span>
        </label>
        <p-inputnumber
          styleClass="w-full"
          formControlName="booster_value"
          inputId="booster-value"
          placeholder="US$ 0.00"
          mode="currency"
          currency="USD"
          locale="en-US"
          [min]="0"
        />
        <small
          *ngIf="booster_value.errors?.['required'] && (booster_value.dirty || booster_value.touched)"
          class="text-red-500"
        >
          Value is required.
        </small>
        <small
          *ngIf="booster_value.errors?.['min'] && (booster_value.dirty || booster_value.touched)"
          class="text-red-500"
        >
          Value must be greater than or equal to 0.
        </small>
        <small
          *ngIf="booster_value.errors?.['max'] && (booster_value.dirty || booster_value.touched)"
          class="text-red-500"
        >
          Value must be less than or equal to 999999.99.
        </small>
      </div>
    </div>

    <!-- Observation -->
    <div>
      <label class="font-medium text-gray-700 mb-2 block">Description / Notes</label>
      <textarea
        rows="5"
        cols="30"
        pTextarea
        formControlName="observation"
        placeholder="Fill in the service details, platform, order number, etc."
        class="w-full resize-y max-w-full"
      ></textarea>
      <small
        *ngIf="observation.errors?.['maxlength'] && (observation.dirty || observation.touched)"
        class="text-red-500"
      >
        Notes must be at most 500 characters.
      </small>
    </div>

    <div class="flex justify-center md:justify-end gap-4 mt-2">
      <p-button label="Cancel" variant="outlined" severity="secondary" (click)="onCancel()" />
      <p-button label="Save Order" icon="pi pi-check" [disabled]="orderForm.invalid" (click)="onSubmit()" />
    </div>
  </form>
</div>
