<div class="bg-gray-50 min-h-screen w-full overflow-x-hidden py-8">
  <div class="max-w-[1140px] mx-auto px-4">
    <app-menubar></app-menubar>

    <div class="bg-gray-50 min-h-screen py-8">
      <div class="max-w-[1140px] mx-auto">
        <h2 class="!text-3xl font-bold text-black mb-4">Resumo</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
          <app-dashboard-card
            title="Vendas"
            [value]="(salesValue | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt') ?? ''"
            subtitle="Últimos 7 dias"
            iconClass="pi pi-money-bill text-lime-500 !text-3xl"
            valueColor="text-lime-500"
          />
          <app-dashboard-card
            title="Pedidos"
            [value]="ordersCount"
            subtitle="Últimos 7 dias"
            iconClass="pi pi-box text-lime-500 !text-3xl"
            valueColor="text-lime-500"
          />
          <app-dashboard-card
            title="Clientes"
            [value]="clientsCount"
            subtitle="Últimos 7 dias"
            iconClass="pi pi-users text-lime-500 !text-3xl"
            valueColor="text-lime-500"
          />
        </div>
      </div>

      <div class="max-w-[1140px] mx-auto">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
