@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "primeicons/primeicons.css";
@layer primeng, tailwind, noir;
@layer tailwind {
  @import "tailwindcss";
}

:root {
  --font-nunito: "Nunito";
  --rem: 14px;
  --bg-body: #f7f9fc;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-variation-settings:
    "FILL" 0,
    "wght" 600,
    "GRAD" 0,
    "opsz" 48;
  font-size: 22px;
  line-height: 1;
  vertical-align: middle;
}

.swal2-confirm-custom {
  background: #e6e9ee !important;
  color: #393d4a !important;
  border-radius: 9999px !important;
  font-weight: 600;
  padding: 0.7rem 1.6rem;
}
.swal2-cancel-custom {
  background: #84e052 !important;
  color: #fff !important;
  border-radius: 9999px !important;
  font-weight: 600;
  padding: 0.7rem 1.6rem;
  margin-right: 0.7rem !important;
}
.swal2-message-custom {
  color: #475569;
  font-size: 1.1rem;
  padding: 1.2rem 0 0 0;
}

