<app-breadcrumb [items]="breadcrumb" />
<div class="bg-white rounded-xl shadow-sm p-8">
  <div class="flex flex-col md:flex-row items-center justify-between mb-4 gap-4">
    <div>
      <h2 class="!text-3xl font-bold text-black">Orders</h2>
      <p class="text-gray-500">Here you can view all orders placed.</p>
    </div>
    <div class="flex gap-2 w-full md:w-auto">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText [(ngModel)]="search" placeholder="Search..." />
      </p-iconfield>
      <p-button label="New Order" icon="pi pi-plus" [routerLink]="['select-game']" />
    </div>
  </div>

  <p-divider />

  <p-table
    [value]="filteredOrders"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]"
    [responsiveLayout]="'scroll'"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Orders"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#Order</th>
        <th>Service</th>
        <th>Status</th>
        <!-- <th>Game</th> -->
        <th *ngIf="showColumn('booster')">Booster</th>
        <th>Platform</th>
        <th>Rank (from → to)</th>
        <th>SR (from → to)</th>
        <th *ngIf="showColumn('bot_lobbies')">Bot Lobbies</th>
        <th *ngIf="showColumn('desired_camo')">Camo</th>
        <th *ngIf="showColumn('account_email')">Account Email</th>
        <th>Total</th>
        <!-- <th>Booster Price</th> -->
        <th>Supplier</th>
        <th class="!w-[150px] !text-center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>#{{ order.order_number }}</td>
        <td>{{ order.service_type }}</td>
        <td>
          <span
            class="px-2 py-1 rounded-lg font-medium"
            [ngClass]="{
              'bg-yellow-100 text-yellow-800': order.status === 'Aguardando',
              'bg-blue-100 text-blue-800': order.status === 'In progress',
              'bg-blue-100 text-red-800': order.status === 'Suspected ban',
              'bg-green-100 text-green-800': order.status === 'Concluído',
            }"
          >
            {{ order.status }}
          </span>
        </td>
        <!-- <td>{{ order.game }}</td> -->
        <td *ngIf="showColumn('booster')">{{ order.booster }}</td>
        <td>{{ order.platform }}</td>
        <td>
          <ng-container *ngIf="order.current_rank || order.desired_rank">
            {{ order.current_rank ? (order.current_rank | titlecase) : '-' }}
            <span *ngIf="order.current_rank && order.desired_rank">→</span>
            {{ order.desired_rank ? (order.desired_rank | titlecase) : '-' }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="order.current_sr || order.desired_sr">
            {{ order.current_sr || '-' }}
            <span *ngIf="order.current_sr && order.desired_sr">→</span>
            {{ order.desired_sr || '-' }}
          </ng-container>
        </td>
        <td *ngIf="showColumn('bot_lobbies')">{{ order.bot_lobbies }}</td>
        <td *ngIf="showColumn('desired_camo')">{{ order.desired_camo }}</td>
        <td *ngIf="showColumn('account_email')">{{ order.account_email }}</td>
        <td>{{ order.total_value | currency: 'USD' : 'symbol' : '1.2-2' : 'en-US' }}</td>
        <!-- <td>{{ order.booster_value | currency: 'USD' : 'symbol' : '1.2-2' : 'en-US' }}</td> -->
        <td>{{ order.supplier }}</td>
        <td class="!text-right">
          <p-button
            icon="pi pi-tag"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            pTooltip="Details"
            tooltipPosition="top"
            (click)="openViewDialog(order)"
            title="Visualizar"
          />
          <p-button
            icon="pi pi-file-edit"
            [rounded]="true"
            [text]="true"
            severity="success"
            pTooltip="Edit"
            tooltipPosition="top"
            (click)="editOrder(order)"
            title="Editar"
          />
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
            pTooltip="Remove"
            tooltipPosition="top"
            (click)="confirmDelete(order)"
            title="Excluir"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="9" class="py-20">
          <div class="flex flex-col items-center justify-center">
            <div class="w-20 h-20 flex items-center justify-center mt-8">
              <i class="pi pi-box text-yellow-500" style="font-size: 2.5rem"></i>
            </div>
            <h3 class="font-bold text-xl text-gray-900 mb-1">No orders yet</h3>
            <p class="text-gray-500 text-base mb-8">This is where you will view and manage Orders.</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog></p-confirmDialog>
</div>

<!-- FORMULÁRIO DE New Order (modal ou inline) -->
<app-order-form *ngIf="showOrderForm" (close)="closeOrderForm()" />

<p-dialog
  header="Detalhes do Pedido"
  [(visible)]="viewDialogVisible"
  [modal]="true"
  [style]="{ width: '450px' }"
  [closable]="true"
  (onHide)="closeViewDialog()"
>
  <ng-container *ngIf="orderToView">
    <div class="flex flex-col gap-3">
      <div><b>Order #:</b> #{{ orderToView.order_number }}</div>
      <div><b>Service:</b> {{ orderToView.service_type }}</div>
      <div><b>Status:</b> {{ orderToView.status }}</div>
      <div><b>Game:</b> {{ orderToView.game }}</div>
      <div><b>Platform:</b> {{ orderToView.platform }}</div>
      <div><b>Rank from:</b> {{ orderToView.current_rank }}</div>
      <div><b>Rank to:</b> {{ orderToView.desired_rank }}</div>
      <div><b>SR from:</b> {{ orderToView.current_sr }}</div>
      <div><b>SR to:</b> {{ orderToView.desired_sr }}</div>
      <div><b>Bot lobbies:</b> {{ orderToView.bot_lobbies }}</div>
      <div><b>Desired camo:</b> {{ orderToView.desired_camo }}</div>
      <div><b>Account Email:</b> {{ orderToView.account_email }}</div>
      <div><b>Supplier:</b> {{ orderToView.supplier }}</div>
      <div><b>Total value:</b> {{ orderToView.total_value | currency: 'USD' : 'symbol' : '1.2-2' : 'en-US' }}</div>
      <div><b>Booster value:</b> {{ orderToView.booster_value | currency: 'USD' : 'symbol' : '1.2-2' : 'en-US' }}</div>
      <div><b>Observation:</b> {{ orderToView.observation }}</div>
    </div>
  </ng-container>
</p-dialog>
